#locationSelectionDiv {
  cursor: pointer;
}

.route-stop-circle {
  position: relative;
  display: block;
  border: 6px solid;
  border-radius: 50%;
  height: 21px;
  width: 21px;
  line-height: 1.3;
  font-size: 11px;
  font-weight: 700;
  z-index: 100;
  background-color: white;

  &.origin {
    border-color: #00a65a;
  }

  &.destination {
    border-color: #dd4b39;
  }

  &.stopMarker {
    border-color: #7bd0f7;
  }
}

.route-stop-number {
  position: relative;
  display: block;
  border: 3px solid;
  border-radius: 50%;
  height: 21px;
  width: 21px;
  line-height: 1.3;
  font-size: 11px;
  font-weight: 700;
  z-index: 100;
  background-color: white;
  text-align: center;
}

.route-stop-line {
  position: absolute;
  display: block;
  left: 14px;
  width: 8px;
  margin: 0 auto;
  background-color: #7bd0f7;
  z-index: 99;

  &.top {
    top: 50%;
    bottom: 0;
  }

  &.bottom {
    top: 0;
    bottom: 50%;
  }

  &.middle {
    top: 0;
    bottom: 0;
  }
}

.route-stop-icon-cell {
  text-align: center;
  font-size: 14px;
  position: relative;
  padding-left: 8px;
}

.route-stop-detail-cell {
  font-size: 0.75rem;
  min-width: 40px;
  max-width: 60px;
  text-align: right;
}

.route-stop-address {
  font-size: 0.75rem;
  min-width: 100px;
  max-width: 200px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 0px;
}

.routeColor {
  border-color: rgb(72, 139, 224);
}
