<div class="modus-panel panel-lg h-100 shadow">
  <div class="panel-header">
    <h4>Rail Routing</h4>
  </div>
  <div class="panel-body flex-fill">
    <div
      class="static-container d-flex align-items-center justify-content-start">
      <div class="mb-3">
        <ul>
          <li>
            Utilizes the rail routing APIs (<a
              href="https://developer.trimblemaps.com/restful-apis/freight-rail/overview/"
              target="_blank"
              rel="noopener"
              >Documentation</a
            >) to gather the route path between rail stations.
          </li>
          <li>
            Rail route line applied a custom layer geojson that mimics the
            properties of a truck routing line style, along with using Trimble
            MAPS origin and destination icons.
          </li>
          <li>
            Rail routing requires knowing the origin, destination, rail stations
            between them and all respective railroad providers for each
            location.
          </li>
          <li>
            Example BNSF route from Denver, CO to Pueblo, CO, mimicking a scan
            point in Colorado Springs, CO.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
