.app-logo {
  height: 24px;
}

h1.app-name {
  font-weight: 400;
  color: #004f83;
  font-size: 22px;
  position: relative;
  margin-bottom: 1px;
}

h1.app-name-white {
  color: #fff !important;
}

.set-cursor {
  cursor: pointer;
}
