<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="modal-title">Authentication</h5>
  </div>
  <div class="modal-body">
    <label for="keyInput" class="form-label"><span>Trimble Maps SDK API Key</span><span
        class="required">*</span></label>
    <input class="form-control" id="keyInput" placeholder="API Key" maxlength="32" minlength="32" type="password" required [(ngModel)]="apiKey" />
    <!-- eslint-disable-next-line @angular-eslint/template/elements-content -->
    <div class="fst-italic mt-1">To gain access you must have an API key. Please contact your Trimble Maps
      representative
      or
      our <a
        href="https://maps.trimble.com/contact/"
        target="_blank" rel="noopener">Sales team</a> for more information.</div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" (click)="submit()">
      Submit
    </button>
  </div>
</div>